@mixin listTextDecoration {
    text-decoration: none;
    list-style: none;
}

@mixin showcaseBg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  flex-direction: column;
}

@mixin paragraphStyles {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-family: $font-body; 
  font-size: 18px;
}

