// partials/variables.scss

// Define the font-family in all (*)
$primaryText: 'Poppins', sans-serif;

// Define the colors as SCSS variables
$bg-color: #1d202b; // Background color
$text-color: #fff;   // Text color
$main-color: #29fd53; // Main color