@import "../partials/variables.scss";
@import "../partials/mixins.scss";
@import 'footer.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primaryText;
    @include listTextDecoration();
}

body {
    min-height: 100vh;
    background: $bg-color;
    color: $text-secondary;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background: $main-color;
    padding: 20px 10%;
    height: $header-height;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    color: $main-color-dark;
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    color: $text-secondary;
    font-size: 2.0rem;
    font-weight: 900;
}

.navbar {
    display: flex; 
    list-style: none; 
    gap: 10px; 
}

// Hidden by default on mobile
.navbar {
    display: none; 
}

.navbar.open {
    display: flex; 
    flex-direction: column; 
    position: absolute;
    top: 120px; 
    right: 0px; 
    width: 290px; 
    background: $main-color; 
    border-radius: 0 0 10px 10px;
}

.navbar a {
    color: $text-secondary;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 20px; 
    transition: all 0.2s;
}

.navbar a:hover {
    color: $navbar-color;
}

.navbar a.active {
    color: $navbar-color;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: $main-color-dark;
    font-size: 28px;
    margin-right: 7px;
}

#menu-icon {
    font-size: 40px;
    color: $text-secondary;
    cursor: pointer;
    z-index: 10001;
    display: block;
    transition: all 0.2s;
}

#menu-icon.open {
    transform: rotate(90deg);
}

@media (max-width: 1200px) {
    #menu-icon {
        display: block;  
    }

    .navbar {
        display: none; 
    }

    .navbar.open {
        display: flex; 
    }

    .navbar li {
        padding: 20px 0; 
    }

    .navbar a {
        padding: 20px 20px; 
        width: 290px; 
    }

    .navbar a:hover {
        color: $text-secondary;
        transform: translateX(5px);
    }
    
    .navbar a.active {
        font-weight: 700;
        border-left: solid $main-color-dark 9px;
        color: $main-color-dark;
    }
}

@media (min-width: 1201px) {
    #menu-icon {
        display: none;  
    }
  
    .navbar {
        display: flex; 
        position: relative; 
        flex-direction: row; 
        gap: 40px; 
    }
    
    header {
        padding: 14px 150px; 
    }
}
