@import "../../partials/variables.scss";
@import "../../partials/mixins.scss";

@media (min-width: ($breakpoint-tablet + 1)) and (max-width: $breakpoint-pcwide) {
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;  
    padding: 20px;
    gap: 20px; 
    width: 100%;

    article {
      flex: 1 1 48%; 
      padding: 20px;
    }

    figure {
      flex: 0 0 400px; 
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
    }

    img {
      max-width: 100%;  
      height: auto;
    }
  }
}
