body {
  padding-top: 120px;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 145vh;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  justify-content: center;
}
section.showcase {
  color: #000000;
  margin-bottom: 20px;
}
section#cta-section {
  background-image: url(../../img/main-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2.5rem;
}

a#cta-link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  width: 170px;
  margin-top: 1rem;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
a#cta-link.primary:hover {
  background-color: #273c34;
}

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 375px) {
  #showcase {
    margin-bottom: 30px;
  }
  #showcase .home-content {
    gap: 30px;
  }
}
@media (min-width: 768px) {
  #showcase {
    padding: 30px;
    height: auto;
    flex-direction: row;
  }
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section.showcase p {
  text-align: left;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.home-section.showcase p.highlight,
.home-section.showcase p.header {
  text-align: center;
}

.image-two {
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 360px;
  max-width: 95%;
  height: auto;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(39, 60, 52, 0.5);
}
.image-two:hover {
  box-shadow: 0px 8px 15px rgba(22, 66, 60, 0.7);
  transition: box-shadow 0.3s ease;
}
@media (min-width: 768px) {
  .image-two {
    max-width: 100%;
    height: 350px;
    padding: 30px;
  }
  .image-two .home-content {
    display: flex;
    align-items: stretch;
    gap: 30px;
  }
  .image-two .home-content p {
    flex: 2;
    text-align: left;
  }
  .image-two .home-content img {
    flex: 1;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
}

p {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
p.header {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #16423C;
}
p.highlight {
  font-weight: 500;
  font-size: 20px;
}
p.slogan {
  padding: 16px;
  font-weight: bold;
  font-size: 28px;
}
@media (min-width: 768px) {
  p.slogan {
    font-size: 30px;
  }
}
p:nth-of-type(3), p:nth-of-type(4) {
  font-size: 20px;
}

@media (min-width: 768px) {
  #showcase {
    margin-bottom: 20px;
  }
  .home-content {
    gap: 30px;
  }
}
@media (min-width: 768px) {
  section {
    margin-bottom: 50px;
  }
  #showcase {
    margin-bottom: 30px;
  }
}
section > h2,
header > h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

section article > h3 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

figcaption {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}/*# sourceMappingURL=homepage.css.map */