@import "../../partials/variables.scss";
@import "../../partials/mixins.scss";

@import "./mobile.scss"; 
@import "./desktop.scss"; 
@import "./tablet.scss";

section {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &.showcase {
      color: black;
  }
  &#cta-section{
      background-image: url(../../img/main-img.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

figure {
  border: 8px solid orange;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

p {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

body {
  padding-top: $header-height;
}

a#cta-link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  background-color: $main-color;
  color: $secondary-color;
  text-decoration: none;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &.primary:hover {
    background-color: $main-color-dark;
  }
}