@import "../../partials/variables.scss";
@import "../../partials/mixins.scss";

body {
  padding-top: $header-height;
}

.site-wrapper {
  @include flex-column;
  min-height: 145vh;
}

section {
  @include home-sction;
  @include flex-column;

  &.showcase {
    color: $text-main;
    margin-bottom: 20px;
  }

  &#cta-section {
    background-image: url(../../img/main-img.png);
    @include showcaseBg;
    padding: 2.5rem;
  }
}

#showcase {
  @include flex-column;
  @include showcase-items;

  @include mediaquery(mobile) {
    margin-bottom: 30px;

    .home-content {
      gap: 30px;
    }
  }

  @include mediaquery(tablet) {
    @include hoem-tablet-row;
  }
}

.image-content {
  @include flex-column;
  align-items: center;
}

.image-two {
  @include image-two-styling;
  box-shadow: 0px 4px 10px rgba($main-color, 0.5);

  &:hover {
    @include img-tow-hover;
  }

  @include mediaquery(tablet) {
    @include home-mediaquery-tablet;

    .home-content {
    @include home-content-tablet;

      p {
        flex: 2;
        text-align: left;
      }

      img {
        @include home-content-img;
      }
    }
  }
}

a#cta-link {
  @include cta-link-display;

  &.primary:hover {
    background-color: $main-color;
  }
}

p {
  @include paragraphStyles();

  &.header {
    @include header-text-styling;
  }

  &.highlight {
    font-weight: 500;
    font-size: 20px;
  }

  &.slogan {
    @include home-slogan;

    @include mediaquery(tablet) {
      font-size: 30px;
    }
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    font-size: 20px;
  }
}

@include mediaquery(tablet) {
  section {
    margin-bottom: 50px;
  }
}
